@import '../../index.css';

.listing-details {
    height: auto;
    min-width: 225px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background: linear-gradient(165deg, var(--color-secondary-light), var(--color-secondary-dark));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 10px;
    grid-column: 1 / -1;
    position: relative;
    overflow: hidden;
}

    .listing-details .listing-details-properties {
        height: auto;
        width: 220px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
    }

        .listing-details .listing-details-properties p {
            font-size: 1.8rem;
            color: var(--color-text-dark);
        }

        .listing-details .listing-details-properties .listing-details-description {
            font-size: 1.5rem;
            color: var(--color-text-dark);
            text-align: justify;
        }
