################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.growers_market.Server/bin
/.growers_market.Server/obj
/growers_market.Server/obj


/growers_market.Server/appsettings.json
/growers_market.Server/growers_market.Server.http