################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/growers-market/FileContentIndex/e65b08e4-270d-48c9-85e9-218ca2622f2e.vsidx
/.vs/growers_market/FileContentIndex
