.species-list {
    height: auto;
    width: 100%;
    max-width: 1160px;
    min-width: 280px;
    margin: 0 auto 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 15px;
    justify-content: center;
}

.species-list h2 {
    font-size: 3rem;
    color: var(--color-secondary-dark);
    margin: 0 auto;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}
