@import '../../index.css';

.listing-chat {
    width: 220px;
    max-height:;
    border: 2px solid var(--color-primary-dark);
    border-right: 2px solid var(--color-primary-light);
    border-bottom: 2px solid var(--color-primary-light);
    border-radius: 5px;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}

    .listing-chat button.del-chat-btn {
        display: none;
    }

    .listing-chat:hover button.del-chat-btn {
        display: block;
        color: var(--color-error);
        font-size: 1.5rem;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        background: none;
        z-index: 2;
    }

        .listing-chat button.del-chat-btn:hover {
            font-weight: bold;
        }
