@import '../../index.css';

#browse-market-page {
    height: 100%;
    width: auto;
    position: relative;
}

    #browse-market-page a {
        text-decoration: none;
        width: fit-content;
        font-size: 2rem;
        background: linear-gradient(165deg, var(--color-secondary-light), var(--color-secondary-dark));
        color: var(--color-primary-dark);
        border-radius: 3px;
        padding: 5px 10px;
        border: 1px solid var(--color-primary-dark);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
    }

        #browse-market-page a:hover {
            font-weight: bold;
        }

@media screen and (max-width: 885px) {
    #browse-market-page a {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
}