@import '../../index.css';


#form-species-select {
    width: auto;
    max-width: 260px;
}


    #form-species-select div {
        display: flex;
        gap: 5px;
    }

        #form-species-select div label {
            font-size: 1.5rem;
            color: var(--color-text-dark);
            margin-right: 5px;
        }

        #form-species-select div select {
            max-width: 260px;
            font-size: 1.5rem;
            background-color: var(--color-secondary-light);
            border: 1px solid var(--color-primary-light);
        }

            #form-species-select div select:has(option[value=""]:checked) {
                color: var(--color-primary-light);
            }

            #form-species-select div select option {
                font-size: 1.5rem;
            }

    #form-species-select button {
        font-size: 1.5rem;
        color: var(--color-primary-dark);
        padding: 5px 0;
        cursor: pointer;
        background: none;
        float: right;
    }

    #form-species-select button:hover {
        font-weight: bold;
        text-decoration: underline;
    }

@media screen and (max-width: 550px) {
    #form-species-select div {
        flex-direction: column;
    }
}