@import '../../index.css';


nav {
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    background: linear-gradient(165deg, var(--color-secondary-light), var(--color-secondary-dark));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 100;
}
    nav a {
        text-decoration: none;
    }

    nav div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        nav div a {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
        }

            nav div a h1 {
                display: block;
                width: fit-content;
                white-space: nowrap;
                font-size: 5rem;
                font-weight: 400;
                font-family: 'Namd-Bold', serif;
                color: var(--color-primary-dark);
                text-shadow: -2px -1px 0 var(--color-primary-light);
                text-decoration: none;
            }

            nav div a img {
                height: 60px;
            }

    nav #login-container {
        display: flex;
        align-content: center;
        gap: 15px;
    }

        nav #login-container .login-btn {
            display: block;
            font-size: 2rem;
            color: var(--color-text-light);
            background: linear-gradient(165deg, var(--color-primary-light), var(--color-primary-dark));
            border-radius: 3px;
            border: 1px solid var(--color-primary-light);
            padding: 5px 10px;
            cursor: pointer;
            text-decoration: none;
            vertical-align: middle;
            text-align: center;
            padding: 5px 10px;
        }

            nav #login-container .login-btn:hover {
                border: 1px solid var(--color-primary-dark);
                box-shadow: 0 0 5px var(--color-primary-dark);
            }

        nav #login-container .logout-btn {
            display: inline-block;
            height: auto;
            font-size: 1.5rem;
            line-height: 2rem;
            vertical-align: middle;
            text-align: center;
            color: var(--color-primary-dark);
            cursor: pointer;
            text-decoration: underline;
            align-self: center;
            white-space: nowrap;
        }

            nav #login-container .logout-btn:hover {
                text-shadow: 0 0 10px var(--color-primary-light);
            }

        nav #login-container .welcome-user {
            font-size: 2rem;
            color: var(--color-primary-dark);
            font-weight: bold;
        }

            nav #login-container .welcome-user span {
                font-size: 1.8rem;
                font-weight: normal;
                color: inherit;
                margin-right: 5px;
            }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }

        nav ul li {
            display: inline-block;
        }

            nav ul li a {
                color: var(--color-primary-dark);
                font-weight: bold;
                font-size: 2rem;
                display: block;
                padding: 10px;
                color: var(--color-primary-dark);
                text-decoration: none;
            }

                nav ul li a:hover {
                    text-shadow: 0 0 10px var(--color-primary-light);
                }

                nav ul li a.active {
                    border-bottom: 3px solid var(--color-primary-light);
                }

@media screen and (max-width: 764px) {
    nav div a h1 {
        font-size: 4rem;
    }

    nav div a img {
        height: 50px;
    }

    nav #login-summary {
        position: relative;
        width: max-content;
    }

        nav #login-summary button {
            background: none;
            border: none;
            font-size: 2rem;
            color: var(--color-primary-dark);
            font-weight: bold;
            cursor: pointer;
        }

            nav #login-summary button:hover {
                text-shadow: 0 0 10px var(--color-primary-light);
            }

        nav #login-summary #login-summary-dropdown {
            display: none;
        }

            nav #login-summary:focus-within #login-summary-dropdown {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0;
                right: 0;
                top: calc(100% + 5px);
                width: 100%;
                background-color: var(--color-secondary-light);
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
            }

    nav #login-summary #login-summary-dropdown .login-dropdown-option {
        width: calc(100% - 10px);
        font-size: 1.5rem;
        padding: 5px;
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: var(--color-text-dark);
        text-align: left;
        cursor: pointer;
        font-weight: normal;
        margin: 0;
    }

                    nav #login-summary #login-summary-dropdown .login-dropdown-option:hover,
                    nav #login-summary #login-summary-dropdown .login-dropdown-option:focus {
                        background-color: var(--color-secondary-dark);
                        outline: none;
                    }

    nav ul {
        gap: 10px;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

}