@import '../../index.css';

.species-card {
    width: 200px;
    background: linear-gradient(165deg, var(--color-secondary-light), var(--color-secondary-dark));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: relative;
    display: flex;
    gap: 10px;
}

    .species-card img {
        display: block;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 3px;
        margin-bottom: 10px;
    }

        .species-card img.image-error {
            font-size: 2rem;
            color: var(--color-text-light);
            background: linear-gradient(165deg, var(--color-primary-light), var(--color-primary-dark));
        }

    .species-card p {
        font-size: 1.5rem;
        color: var(--color-text-dark);
        margin-bottom: 10px;
    }

    .species-card.show-details .details-arrow {
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        font-size: 2rem;
        color: var(--color-primary-dark);
        background: linear-gradient(135deg, transparent 49%, var(--color-secondary-dark) 50%);
        transform: rotate(45deg);
        box-shadow: 6px 2px 5px rgba(0, 0, 0, 0.7);
    }

        