@import '../../index.css';

#search-species-select {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

    #search-species-select label {
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
    }

    #search-species-select div {
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
    }

        #search-species-select div select {
            width: 100%;
            max-width: 600px;
        }

            #search-species-select div select:has(option[value=""]:checked) {
                color: var(--color-primary-light);
            }