@import '../../index.css';

#chats-page {
    height: 100%;
    width: 100%;
}

#chats-page a {
    text-decoration: none;
    width: fit-content;
    font-size: 2rem;
    background: linear-gradient(165deg, var(--color-secondary-light), var(--color-secondary-dark));
    color: var(--color-primary-dark);
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid var(--color-primary-dark);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    display: block;
    margin-bottom: 20px;
}

    #chats-page a:hover {
        font-weight: bold;
    }